body {
  background-color: #EEE;
  padding-top: 50px;
  padding-bottom: 30px;
}
.main {
  background-color: #FFF;
  padding: 32px;
  font-family: 'Georgia', serif;
  font-size: 17px;
}
.main h1 {
  font-size: 32px;
  line-height: 1.2em;
}
.main h2 {
  font-size: 26px;
  line-height: 1.2em;
}
.main a.anchor {
  color: #DFDFDF;
  font-size: 80%;
  padding: 2px;
  text-decoration: none;
}
.main a.anchor:hover {
  color: #AFAFAF;
}
.main li.icon-ruby {
  list-style: none;
  background: url('/media/img/icons/ruby.png') no-repeat 0 5px;
  padding-left: 25px;
}
.main li.icon-python {
  list-style: none;
  background: url('/media/img/icons/python.png') no-repeat 0 5px;
  padding-left: 25px;
}
.main pre.prettyprint {
  padding: 16px;
}
.main .toc-box {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 250px;
  float: right;
  margin: 15px 0px 15px 20px;
  background-color: #F8F8F8;
  border: 1px solid #DEDEDE;
  padding-bottom: 10px;
}
.main .toc-box .toc-header {
  text-align: center;
  border-bottom: 1px dotted #DEDEDE;
  margin-bottom: 5px;
}
.main .toc-box .toc-entry {
  padding: 0px 10px 0px 20px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.footer {
  background: #333;
  color: #ddd;
  padding: 32px;
}
